html {
    position: relative;
    min-height: 100%;
}

body {
    min-height: 100%;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
}

body > .container {
    margin-bottom: 84px;
}

.bg-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}